<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="LogOut">
            Çıkış Yap
            <img src="/images/navbar/logout-logo.svg" width="25" height="25" class="d-inline-block align-top" alt="">
        </a>
    </li>
</ul>